<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <add key="FileRoot" value="App_Data"/>
    <add key="ResPath" value="CurrentVersion"/>
    <add key="AccountStorageImpl" value="Core Core.SqlServerAccountStorage"/>
    <add key="MessageStorageImpl" value="Core Core.SqlServerMessageStorage"/>
    <add key="CommonStorageImpl" value="Core Core.SqlServerCommonStorage"/>
    <add key="webapi" value="http://webapi.kinfar.net/"/>
    <add key="appid" value="kinfar.net"/>
    <add key="appsecret" value="www.kinfar.net"/>
  </appSettings>
  <connectionStrings>
    <add name="IMDB" connectionString="Data Source=119.29.91.240,50362;Initial Catalog=KFWEBIM;Persist Security Info=True;User ID=kinfar;Password=kinfar123"/>
  </connectionStrings>
  <system.web>
    <httpHandlers/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>